<p>
    <%= f.label :name %><br />
    <%= f.text_field :name %><br />
    <b>Role</b><br />
    <%= f.radio_button :role_id, 2 %> Admin<br />
    <%= f.radio_button :role_id, 1 %> Developer<br />
    <%= f.label :email %><br />
    <%= f.text_field :email %><br />
    <%= f.label :password %><br />
    <%= f.text_field :password %><br />
</p>



