<% if user_signed_in? %>
    <%= link_to 'Dashboard', dashboard_index_path %>&nbsp;<%= link_to 'Users', users_path %>&nbsp;<%= link_to 'Projects', projects_path %>&nbsp;<%= link_to 'Todos', todos_path %>&nbsp;<div style="float: right;"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></div>
<% end %>